@charset "UTF-8";
/** Estilos Generales **/
html {
  font-family: 'Josefin Sans', sans-serif; }

body {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

a:visited {
  color: inherit; }

li {
  list-style: none; }

p {
  font-size: 1.1rem; }

h1 {
  font-size: 2.4rem; }

h2 {
  font-size: 2rem; }

h3 {
  font-size: 1.8rem; }

h4 {
  font-size: 1.6rem; }

h5 {
  font-size: 1.4rem; }

h6 {
  font-size:  1 0.2rem; }

/* header */
.titulo {
  color: #800000;
  padding-left: 0%;
  justify-content: space-between; }

.main-header {
  top: 0;
  width: 100%;
  z-index: 9999;
  margin: 0 auto;
  overflow: hidden;
  background-color: #080809; }

.header-wrap {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: #080809;
  z-index: 999;
  height: 70px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1); }

.wrap-logo-header {
  display: flex;
  align-items: center;
  flex-basis: 15%; }

.logo-header img {
  width: 75%;
  max-width: 75%; }

.nav-header {
  display: flex;
  align-items: center;
  width: 100%; }

.nav-wrap-header {
  display: flex;
  flex-basis: 50%; }

ul.main-menu {
  display: flex;
  width: 100%;
  z-index: 99;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  font-size: 1.1rem; }

ul.main-menu #nav-main-contact {
  display: flex;
  align-items: center;
  padding: .5rem 1rem; }

li.menu-item {
  margin: .75rem;
  display: flex; }

li.menu-item a {
  padding: .5rem 1rem;
  color: #fff; }

li.menu-item a:hover {
  color: #800000; }

i.toggle-menu {
  display: none;
  border: none;
  z-index: 9999; }

i.toggle-menu img {
  width: 100px;
  z-index: 99; }

input#check {
  display: none; }

.umbrella__main {
  height: calc(100vh - 70px);
  display: flex;
  align-items: center;
  width: 80%;
  max-width: 1200px;
  margin: 0 200px;
  overflow: hidden;
  padding: 0; }

.fondo {
  object-fit: cover;
  height: 80%; }

.fondo--modifierindex {
  width: 60%; }

.title {
  font-size: 56px;
  font-weight: 300;
  color: #fff; }

.title--active {
  color: #800000;
  font-weight: 300; }

.copy {
  font-size: 24px;
  color: #ffffff80;
  text-shadow: 0 8px 8px #00000033;
  margin: 15px 0; }

.copy__active {
  font-weight: 700; }

.container__cience {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; }

.card__cience {
  width: 80%;
  padding: 30px 0;
  overflow: hidden;
  background: linear-gradient(180deg, #080809 0%, black 100%);
  border-radius: 10px;
  position: relative;
  text-align: center;
  margin-bottom: 60px;
  box-shadow: 0 0 6px #080809; }

.card__photo {
  text-align: center;
  width: 99%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px 10px 10px 10px; }

.btn {
  align-content: center;
  background: linear-gradient(180deg, #f7ce90 0%, #f48d76 100%);
  border-radius: 6px;
  width: 20%;
  color: #080809;
  font-weight: 700;
  text-align: center;
  padding: 12px 0;
  text-decoration: none; }

.card {
  border-radius: 20px;
  margin: auto;
  height: calc(120vh - 90px);
  display: flex;
  align-items: center;
  padding-left: 100px; }
  .card section p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center; }
  .card .text__info {
    color: black; }

.hero {
  border-radius: 20px;
  margin: auto; }
  .hero .text__info {
    color: black; }

.form {
  background-color: whitesmoke;
  width: 90%;
  max-width: 400px;
  border-radius: 1em;
  padding: 3.5em 1.5em; }

.form__container {
  width: 100%;
  display: grid;
  gap: 1em;
  grid-auto-flow: 100%; }

.form__title {
  text-align: center;
  font-size: 1.9rem;
  margin-bottom: .4em; }

.form__imput {
  font-size: 1rem;
  padding: .8em 1em; }

.form__imput--message {
  resize: none;
  padding: 1.8em 1em;
  margin-bottom: .5em; }

#pieDePagina {
  justify-content: center;
  margin: auto;
  display: flex; }
  #pieDePagina a img {
    width: 100px; }

@media (min-width: 768px) {
  .logo-header img {
    text-align: center; } }

@media (max-width: 768px) {
  header.main-header {
    margin-bottom: 4rem; }
  .header-wrap {
    position: fixed;
    width: 100%;
    background-color: #080809;
    padding: 0;
    top: 0;
    z-index: 9999;
    height: 100px; }
  .wrap-logo-header {
    display: none; }
  .logo-header, li.menu-item a {
    color: #222; }
  i.toggle-menu {
    display: flex; }
  ul.main-menu, #nav-main-contact {
    display: none;
    left: 0;
    margin: 0;
    padding: 0; }
  ul.main-menu {
    position: fixed;
    background-color: #fff; }
  label.checkbtn {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 3%;
    z-index: 9999;
    cursor: pointer; }
  #check:checked ~ ul {
    display: flex;
    z-index: 9;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    top: 0;
    font-size: 2rem; }
  .umbrella__main {
    flex-direction: column-reverse;
    justify-content: flex-end;
    height: auto;
    padding: 98px 0;
    margin: auto; }
  #menu a {
    padding: 10px 3px;
    font-size: 20px; }
  .logo {
    width: 140px;
    height: 120px; }
  .card {
    width: 350px;
    height: 300px; }
  .hero {
    width: 350px;
    height: 300px; }
  .reuniones {
    width: 450px;
    height: 400px; }
  .heros {
    width: 450px;
    height: 400px; }
  #header {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 5rem; }
  #header h1 {
    font-size: 20px; }
  #contenedor-menu {
    width: 1400px; }
  .text__info {
    font-size: 15px; } }

@media (max-width: 900px) {
  #header {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 5rem; }
  #header h1 {
    font-size: 20px; }
  #menu a {
    padding: 10px 3px;
    font-size: 20px; }
  .logo {
    width: 140px;
    height: 120px; }
  .card {
    width: 350px;
    height: 300px; }
  .hero {
    width: 350px;
    height: 300px; }
  .reuniones {
    width: 450px;
    height: 400px; }
  .heros {
    width: 450px;
    height: 400px; }
  #contenedor-menu {
    width: 1400px; }
  .text__info {
    font-size: 15px; } }

@media (max-width: 700px) {
  #header {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 3rem; }
  #header h1 {
    font-size: 15px; }
  #menu a {
    padding: 10px 3px;
    font-size: 20px; }
  .logo {
    width: 120px;
    height: 100px; }
  .card {
    width: 350px;
    height: 300px; }
  .hero {
    width: 350px;
    height: 300px; }
  .reuniones {
    width: 450px;
    height: 400px; }
  .heros {
    width: 450px;
    height: 400px; }
  #contenedor-menu {
    width: 1400px; }
  .text__info {
    font-size: 15px; } }

@media (max-width: 500px) {
  #header {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2rem; }
  #header h1 {
    font-size: 10px; }
  #menu a {
    padding: 10px 3px;
    font-size: 20px; }
  .logo {
    width: 100px;
    height: 80px; }
  .card {
    width: 300px;
    height: 270px; }
  .hero {
    width: 300px;
    height: 300px; }
  .reuniones {
    width: 450px;
    height: 400px; }
  .heros {
    width: 450px;
    height: 400px; }
  #contenedor-menu {
    width: 1400px; }
  .text__info {
    font-size: 15px; } }
